#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: rgb(241, 152, 142);
  --secondary: rgb(231, 226, 226);
}

h1 {
  font-size: 2.7rem;
  color: var(--primary);
}

input {
  outline: none;
  margin: 15px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary);
}

h2 {
}

span {
  padding: 0 0 15px;
}
.meals {
  background: var(--secondary);
}

img {
  margin: 20px;
  width: 90%;
  height: 60%;
  border-radius: 12px;
}
p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.mealbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}

.meal_container {
  background: whitesmoke;
  border: 1px solid var(--primary);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .mealbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 85%;
    height: 22%;
  }
}

@media screen and (min-width: 1000px) {
  .mealbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    width: 85%;
    height: 40%;
  }
}
